.container {
  max-width: 720px;
  margin: 1rem auto;
  padding: 0 2rem;
  // border: 1px solid #d5f;
}

.authorGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  max-width: 24rem;
  color: var(--info);
  font-size: 0.875rem;
  line-height: 1.1rem;
  // border: 1px solid #d5f;
  div {
    display: flex;
    align-items: center;
    // border: 1px solid #d5f;
    svg {
      margin-right: 0.5rem;
    }
  }
}
