// TODO
.posts {
  max-width: 700px;
  a {
    display: block;
    & + a {
      margin-top: 1.5rem;
      padding-top: 1.5rem;
    }
    strong {
      font-size: 1.75rem;
      letter-spacing: -0.031rem;
      line-height: 2.125rem;
      font-weight: 700;
      color: var(--heading);
    }
    p {
      font-family: 'Inter';
      font-size: 1.125rem;
      line-height: 1.3rem;
      margin-top: 0.5rem;
    }

 
  }
}
.buttonLoadPosts {
  font-weight: 600;
  color: var(--highlight);
  line-height: 2.125rem;
  font-size: 1.125rem;
  border: 0;
  background-color: transparent;
  width: 100%;
  text-align: left;
}
